.nav {
  grid-area: n;
  padding-left: 16px;
  background-color: burlywood;
}

.item:not(:last-child) {
  margin-bottom: 13px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item:hover {
  cursor: pointer;
}